<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="assets/styles/main.css" />
    <title>Stuffed list</title>
  </head>
  <body>
    <template id="app-markup">
      <ul class="media-list">
        <li class="media-list__item"><li>
      </ul>
    </template>
    <div id="app"></div>

    {{> media-item }}
    {{> modal }}
    <script type="text/javascript" src="dist/index.js"></script>
  </body>
</html>
