<template id="markup-media-item">
  <article class="media">
    <em class="media__likes"></em>
    <div class="media__img-container">
      <img class="media__img" />
    </div>
    <p class="media__title"></p>
    <!-- <button type="button" name="button" class="media__like-btn">LIKE?</button>
    <em class="media__liker"></em> -->
  </article>
</template>
