<template id="markup-media-item">
  <article class="media">
    <em class="media__likes"></em>
    <div class="media__media-container media__img-container">
      <img class="media__img" />
      <video class="media__video" controls></video>
    </div>
    <p class="media__title"></p>
  </article>
</template>
