<template id="markup-modal">
  <div class="modal">
    <div class="modal__background"></div>
    <div class="modal__modal-element modal-element">
      <div class="modal-element__element modal-element__header">hello world</div>
      <div class="modal-element__element modal-element__content">
        hello world
      </div>
      <div class="modal-element__element modal-element__footer">
        hello
      </div>
    </div>
  </div>
</template>
