<template id="markup-modal">
  <div class="modal">
    <div class="modal__background"></div>
    <div class="modal__modal-element modal-element">
      <header class="modal-element__element modal-element__header"></header>
      <div class="modal-element__body">
        <div class="body__content"></div>
        <div class="body__comment"></div>
      </div>
      <footer class="modal-element__element modal-element__footer"></footer>
    </div>
  </div>
</template>
